<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>맵 생성</title>
</head>
<body>
    <h1>🗺️ 맵 생성</h1>

    <form th:action="@{/map/create}" th:object="${mapForm}" method="post">
        <div>
            <label>맵 제목: </label>
            <input type="text" th:field="*{mapname}" required />
        </div>
        <hr/>

        <div th:each="quiz, stat : *{quizzes}">
            <h3>퀴즈 [[${stat.index + 1}]]</h3>
            <div>
                <label>문제: </label>
                <input type="text" th:field="*{quizzes[__${stat.index}__].question}" required />
            </div>
            <div>
                <label>힌트: </label>
                <input type="text" th:field="*{quizzes[__${stat.index}__].hint}" required />
            </div>
            <div>
                <label>정답: </label>
                <input type="text" th:field="*{quizzes[__${stat.index}__].answer}" required />
            </div>
            <br/>
        </div>

        <button type="submit">맵 생성</button>
    </form>
</body>
</html>
