<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>회원가입</title>
</head>
<body>
    <h1>회원가입</h1>

    <div th:if="${errorMessage}">
        <p style="color:red" th:text="${errorMessage}"></p>
    </div>

    <form th:action="@{/register}" th:object="${user}" method="post">
        <div>
            <label>아이디: <input type="text" th:field="*{username}" /></label>
        </div>
        <div>
            <label>비밀번호: <input type="password" th:field="*{password}" /></label>
        </div>
        <div>
            <button type="submit">가입하기</button>
        </div>
    </form>
</body>
</html>
